/*-------------------------------------------*/
/*------------- pagination ------------------*/
/*-------------------------------------------*/
.woocommerce-pagination {
    .page-numbers {
        @include reset-list;
        display: flex;
        justify-content: center;
        align-items: center;
        direction: ltr;
        li {
            padding: 5px;
        }
    }
}
