/*-------------------------------------------*/
/*------- products List (Related,) ----------*/
/*-------------------------------------------*/
.products {
    .onsale {
        position: absolute;
        left:0;
        top:0;
    }
}